.homepage {
  background-image: url("../public/imgs/water_sprite_lake.JPG");
  background-size: cover;
  height: 100vh;
  color: white;
}

.aboutMe {
  height: 100vh;
}

.primaryBgColor {
  background-color: white;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.bgColor {
  background-color: rgba(1, 1, 1, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo .infoCircle:hover {
  background-color: #adb5bd;
  border-color: #adb5bd;
  fill: white;
}

.contactInfo {
  position: sticky;
  top: 40vh;
}

.fullStackBlock svg {
  height: 50px;
  width: 50px;
  fill: white;

}


.skillBlock {
  overflow: auto;
}


.socialContainer {
  position: relative;
}

@media screen and (max-width: 768px) {
  .socialContainer {
    display: none;
  }

  .cardList {
    justify-content: center;
    
  }
}

#contact-me > .contactInfo >a:first-child{
  display: none;
 }


/* Resume Time Line */
@media only screen and (min-width: 768px) {

  .contact-me {
    display: none;
  }
  
  #contact-me {
    display: none;
   }
  

  #timeline {
    overflow-y: scroll;
    scrollbar-width: none;
   
    overflow-x: hidden;
    height: 100%;
  }

  #timeline::-webkit-scrollbar {
    display: none;
  }


/* The actual timeline (the vertical ruler) */
#timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:orange;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

/* Container around content */
.jobBox {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.jobBox::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
}

/* Move Left side of timeline */
.jobBox:nth-child(even){
 left:0%;
}

.jobBox:nth-child(even)::after{
  right:-12px
 }

/* Right Side of Time Line */
.jobBox:nth-child(odd){
  left:50%;
 }

 .jobBox:nth-child(odd)::after{
  left:-12px
 }
  
}

.redBtn {
  display: block;
  margin: auto auto;
  margin-bottom: 10px;
  background: rgb(255, 89, 94, 0.7);
  border-radius: 25px;
  width: 70%;
  min-width: 8rem;
  height: 2.5rem;
  border: none;
  color: white;
  font-weight: bolder;
}

.btnDetails:hover {
  background: rgb(255, 89, 94, 1);
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 10px 15px rgba(245, 239, 239, 0.7);
}

/* Main Form */

.main-form label,
#contact-info label {
  display: block;
  margin: 10px;
}

.main-form h6,
#contact-info h6 {
  font-weight: bolder;
}

.main-form .no-resize {
  resize: none;
}





/* Modal */
.add-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

.add-modal .modal-content {
  background-color: white;
  left: 50%;
  top: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.add-modal .modal-title {
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.add-modal .add-modal-body {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.add-modal-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clearBtn {
  background: rgb(255, 89, 94, 0.7);
}

.sendBtn {
  background-color: #06d6a0;
}

.card:hover{
  cursor: pointer;
}

.clearBtn,
.sendBtn {
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bolder;
  width: 20%;
  min-width: 110px;
}

.x-close-btn,
.plusBtn {
  border: none;
  background-color: transparent;
}

/* Skills Editor */
.edit-skill-title {
  display: flex;
  align-content: center;
}

.skill-body {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-container {
  border-radius: 10px;
  background-color: rgba(25, 130, 196, 0.3);
  color: rgba(1, 1, 1, 0.7);
  font-weight: bold;
}
