.homepage {
  background-image: url("./public/imgs/water_sprite_lake.JPG");
  background-size: cover;
  height: 100vh;
  color: white;
}

.aboutMe {
  height: 100vh;
}

.primaryBgColor {
  background-color: white;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.bgColor {
  background-color: rgba(1, 1, 1, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo .infoCircle:hover {
  background-color: #adb5bd;
  border-color: #adb5bd;
  fill: white;
}

.socialContainer {
  position: relative;
}
.contactInfo {
  position: sticky;
  top: 40vh;
  padding-left: 40%;
}

.contactInfo .infoCircle:hover::after {
  content: "Contact Me";
  position: absolute;
  left: 190px;
}

.skillCircleBlock svg {
  height: 50px;
  width: 50px;
  fill: white;
}

/* Resume Time Line */

#timeline .jobBox {
  width: 100%;
  position: relative;

  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid white;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  #timeline {
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    padding: 0 1%;
    height: 100vh;
  }

  #timeline::-webkit-scrollbar {
    display: none;
  }
  #timeline::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 2px;
    background-color: orange;
    left: 49.95%;
  }

  #timeline .jobBox {
    width: 50%;
  }

  #timeline .jobBox:nth-child(even) {
    float: left;
    clear: right;
    right: 20px;
  }
  #timeline .jobBox:nth-child(odd) {
    float: right;
    clear: left;
    left: 20px;
  }
  #timeline .jobBox:nth-child(even):before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: orange;
    position: absolute;
    right: -31px;
    border-radius: 50%;
    top: 0;
  }
  #timeline .jobBox:nth-child(odd):before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: orange;
    position: absolute;
    left: -31px;
    top: 0;
    border-radius: 50%;
  }
}

.card-body .btnDetails {
  display: block;
  margin: auto auto;
  background: rgb(255, 89, 94, 0.7);
  border-radius: 25px;
  width: 70%;
  min-width: 8rem;
  height: 2.5rem;
  border: none;
  color: white;
  font-weight: bolder;
}

.card-body .btnDetails:hover {
  background: rgb(255, 89, 94, 1);
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 10px 15px rgba(245, 239, 239, 0.7);
}

/* Main Form */

.main-form label {
  display: block;
  margin: 10px;
}

.main-form h6 {
  font-weight: bolder;
}
