.homepage {
  background-image: url("./public/imgs/water_sprite_lake.JPG");
  background-size: cover;
  height: 100vh;
  color: white;
}

.bgColor {
  background-color: rgba(1, 1, 1, 0.5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  height: 100vh;
}

.skillCircleBlock svg {
  width: 60px;
  height: 60px;
  fill: white;
}
